extends ./__template/_layout
block vars
  - var _directoryPath = "/"
  - var _pageTitle = "TOP"
  - var _description = "TOP"
  - var _keyword = "TOP"
  - var _ogUrl = _siteUrl + _directoryPath
  - var _ogImage = _ogUrl + "images/sns.jpg"
  - var _mainClass = "top"

block style
  link(rel="stylesheet", href=_directoryPath+"css/style.css")

block _kakunin_
  //- main
    //- div -----------------------------------------
    //- div _directoryPath: ====> 「#{_directoryPath}」
    //- div _pageTitle: ========> 「#{_pageTitle}」
    //- div _description: ======> 「#{_description}」
    //- div _keyword: ==========> 「#{_keyword}」
    //- div _ogUrl: ============> 「#{_ogUrl}」
    //- div _ogImage: ==========> 「#{_ogImage}」
    //- div _mainClass: ========> 「#{_mainClass}」
    //- div -----------------------------------------
    //- div 確認したらごっそり消す
    //- div -----------------------------------------

block content
  p TOP

block script
  script(src=_directoryPath+"js/script.js")
