- var _directoryPath = "/"
- var _siteName = ""
- var _siteUrl = ""
- var _pageTitle = ""
- var _description = ""
- var _keyword = ""
- var _ogUrl = _siteUrl + _directoryPath
- var _ogImage = _ogUrl + "images/sns.jpg"
- var _mainClass = ""

doctype html
block vars
html(lang="ja")
  //- HEAD
  head
    meta(charset="utf-8")
    //- Page Information
    title #{_pageTitle} | #{_siteName}
    meta(name="description", content=_description)
    meta(name="keyword", content=_keyword)
    meta(name="viewport", content="width=device-width,user-scalable=no")
    meta(name="format-detection", content="telephone=no")
    //- SNS
    meta(property="og:title", content=_pageTitle + " | " + _siteName)
    meta(property="og:type", content="website")
    meta(property="og:description", content=_description)
    meta(property="og:url", content=_ogUrl)
    meta(property="og:image", content=_siteUrl + "/common/images/sns.png")
    meta(property="og:site_name", content="")
    meta(property="og:locale", content="ja_JP")
    meta(property="fb:app_id", content="")
    meta(name="twitter:card", content="summary")
    //- CSS
    link(rel="stylesheet", href="/common/css/style.css")
    block style

  //- BODY
  body
    // HEADER
    header
      p header!!

    //- vars確認用
    block _kakunin_
    // MAIN
    main(class=_mainClass)
      block content

    // FOOTER
    footer
      p copyright
    //- Script

    script(src="/common/js/script.js")
    block script

